@font-face {
    font-family: 'Montserrat Black';
    src: url(../fonts/montserrat-black-webfont.eot);
    src: url(../fonts/montserrat-black-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/montserrat-black-webfont.woff) format('woff'), url(../fonts/montserrat-black-webfont.svg) format('svg')
}

@font-face {
    font-family: 'Montserrat Light';
    src: url(../fonts/montserrat-light-webfont.eot);
    src: url(../fonts/montserrat-light-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/montserrat-light-webfont.woff) format('woff'), url(../fonts/montserrat-light-webfont.svg) format('svg')
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url(../fonts/montserrat-bold-webfont.eot);
    src: url(../fonts/montserrat-bold-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/montserrat-bold-webfont.woff) format('woff'), url(../fonts/montserrat-bold-webfont.svg) format('svg')
}

@font-face {
    font-family: Inconsolata;
    src: url(../fonts/Inconsolata-webfont.eot);
    src: url(../fonts/Inconsolata-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/Inconsolata-webfont.woff) format('woff'), url(../fonts/Inconsolata-webfont.svg) format('svg')
}

@font-face {
    font-family: vhia;
    src: url(../fonts/vhia.ttf) format('truetype');
}

@font-face {
    font-family: 'CS-Benwood';
    src: url(../fonts/CS-Benwood.otf) format('truetype');
}

@font-face {
    font-family: 'Soul-Ninja';
    src: url(../fonts/Soul-Ninja.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:before,
:after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
}


body,html{
    height: 100%;
    overflow: hidden;
    background: #182b3d;
    overflow-y: auto;
}

.landscape {
    position: relative;
    height: 500px;
    background: #222;
    overflow: hidden;
}

.moon {
    position: absolute;
    left: 50%;
    bottom: 100px;
    width: 350px;
    height: 350px;
    margin: 0 0 0 -175px;
    border-radius: 50%;
    background: #ccc;
}

.moon:after {
    top: 100px;
    left: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 120px 80px 0 rgba(0, 0, 0, 0.1), 100px -60px 0 -20px rgba(0, 0, 0, 0.1), -70px 40px 0 -20px rgba(0, 0, 0, 0.1), -20px -50px 0 -15px rgba(0, 0, 0, 0.1), -20px 120px 0 -15px rgba(0, 0, 0, 0.1), 50px 50px 0 -15px rgba(0, 0, 0, 0.1);
}


/* Animation Setup */

.layer {
    position: absolute;
    bottom: 0;
    -webkit-animation: 10s linear infinite alternate;
    animation: 10s linear infinite alternate;
}

.l1 {
    z-index: 1;
    -webkit-animation-name: l1;
    animation-name: l1;
}

.l2 {
    z-index: 2;
    -webkit-animation-name: l2;
    animation-name: l2;
}

.l3 {
    z-index: 3;
    -webkit-animation-name: l3;
    animation-name: l3;
}

@-webkit-keyframes l1 {
    100% {
        -webkit-transform: translate3d(-100px, 0, 0);
        transform: translate3d(-100px, 0, 0);
    }
}

@keyframes l1 {
    100% {
        -webkit-transform: translate3d(-100px, 0, 0);
        transform: translate3d(-100px, 0, 0);
    }
}

@-webkit-keyframes l2 {
    100% {
        -webkit-transform: translate3d(-200px, 0, 0);
        transform: translate3d(-200px, 0, 0);
    }
}

@keyframes l2 {
    100% {
        -webkit-transform: translate3d(-200px, 0, 0);
        transform: translate3d(-200px, 0, 0);
    }
}

@-webkit-keyframes l3 {
    100% {
        -webkit-transform: translate3d(-500px, 0, 0);
        transform: translate3d(-500px, 0, 0);
    }
}

@keyframes l3 {
    100% {
        -webkit-transform: translate3d(-500px, 0, 0);
        transform: translate3d(-500px, 0, 0);
    }
}


/* Lantern Layer */

.l3 {
    bottom: 0;
    width: 1000%;
    background: #182b3d;
}

.la {
    position: absolute;
    bottom: 0;
    width: 2px;
    height: 50px;
    background: #182b3d;
    margin-right: 20px;
}

.la:before {
    top: 5px;
    left: -10px;
    width: 22px;
    height: 2px;
    background: #182b3d;
}

.la:after {
    bottom: 0;
    left: -2px;
    width: 6px;
    height: 12px;
    background: #182b3d;
}

.l {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 10px #fff, 0 0 25px #fff, 0 0 50px #fff;
}

.l:nth-child(1) {
    left: -10px;
}

.l:nth-child(2) {
    right: -10px;
}

.la:nth-child(1) {
    left: 100px;
}

.la:nth-child(2) {
    left: 200px;
}

.la:nth-child(3) {
    left: 300px;
}

.la:nth-child(4) {
    left: 400px;
}

.la:nth-child(5) {
    left: 500px;
}

.la:nth-child(6) {
    left: 600px;
}

.la:nth-child(7) {
    left: 700px;
}

.la:nth-child(8) {
    left: 800px;
}

.la:nth-child(9) {
    left: 900px;
}

.la:nth-child(10) {
    left: 1000px;
}

.la:nth-child(11) {
    left: 1100px;
}

.la:nth-child(12) {
    left: 1200px;
}

.la:nth-child(13) {
    left: 1300px;
}

.la:nth-child(14) {
    left: 1400px;
}

.la:nth-child(15) {
    left: 1500px;
}

.la:nth-child(16) {
    left: 1600px;
}

.la:nth-child(17) {
    left: 1700px;
}

.la:nth-child(18) {
    left: 1800px;
}

.la:nth-child(19) {
    left: 1900px;
}

.la:nth-child(20) {
    left: 2000px;
}


/* Mountain Layer */

.hills div {
    border-radius: 8%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hills div {
    position: absolute;
}

.l1 .hills div {
    bottom: -350px;
    width: 500px;
    height: 500px;
    background: #20374f;
}

.l2 .hills div {
    bottom: -400px;
    width: 500px;
    height: 500px;
    background: #274461;
}

.l1 .hills div:nth-child(1) {
    left: -200px;
}

.l1 .hills div:nth-child(2) {
    left: 200px;
}

.l1 .hills div:nth-child(3) {
    left: 600px;
}

.l1 .hills div:nth-child(4) {
    left: 1000px;
}

.l1 .hills div:nth-child(5) {
    left: 1400px;
}

.l1 .hills div:nth-child(6) {
    left: 1800px;
}

.l1 .hills div:nth-child(7) {
    left: 2200px;
}

.l1 .hills div:nth-child(8) {
    left: 2600px;
}

.l2 .hills div:nth-child(1) {
    left: 0px;
}

.l2 .hills div:nth-child(2) {
    left: 400px;
}

.l2 .hills div:nth-child(3) {
    left: 800px;
}

.l2 .hills div:nth-child(4) {
    left: 1200px;
}

.l2 .hills div:nth-child(5) {
    left: 1600px;
}

.l2 .hills div:nth-child(6) {
    left: 2000px;
}

.l2 .hills div:nth-child(7) {
    left: 2400px;
}

.l2 .hills div:nth-child(8) {
    left: 2800px;
}


/* Codepen Preview Mode */

@media only screen and (max-height: 450px) {
    .landscape {
        margin-top: -150px;
    }
}

.t-name {
    font-family: 'CS-Benwood', 'Montserrat Black', sans-serif;
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    bottom: 100px;
    width: 350px;
    height: 350px;
    margin: 0 0 0 -175px;
    color: #222;
    z-index: 1000;
    text-align: center;
    vertical-align: middle;
    line-height: 350px;
}

.topics-scroll {
    margin-top: 40px;
    position: relative;
    width: 100%;
    height: auto;
    font-family: 'Soul-Ninja', 'CS-Benwood', sans-serif;
    font-size: 60px;
    color: #fff;
    text-align: center;
}

.malarkey {
    color: #FFCC00;
    width: 180px;
    text-align: left;
    display: inline-block;
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100px;
}

.container {
  position: relative;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}


@keyframes pulse {
  to {
    opacity: 1;
  }
}


